<div class="payment" ng-controller="paymentTrackerController">
  <div class="body-content">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>International Treasury Funding Tool</h2>
        <p>Lorem Ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
  <div class="tab">
    <ul class="nav nav-pills">
      <li><a data-toggle="pill" data-target="#projections">
        <h3>Projections</h3>
        </a></li>
      <li class="active"><a data-toggle="pill" data-target="#adjustmentTab">
        <h3>Adjustment</h3>
        </a></li>
      <li><a data-toggle="pill" data-target="#maintenancetab">
        <h3>Maintenance</h3>
        </a></li>
      <li><a data-toggle="pill" data-target="#nostroFundsTransfer">
        <h3>Nostro Funds Transfer</h3>
        </a></li>
    </ul>

  <div class="tab-content">
    <div id="projections" class="tab-pane fade">
      <h2>Projections</h2>
    </div>
    <div id="adjustmentTab" class="tab-pane fade">
      <h2>Adjustment</h2>
    </div>
    <div id="maintenancetab" class="tab-pane fade">
      <h2>Maintenance</h2>
    </div>
    <div id="nostroFundsTransfer" class="tab-pane fade">
      <h2>Nostro Funds Transfer</h2>
    </div>
  </div>
</div>
  </div>
